.wrapper{
    inset-inline-end: 24px;
    position: fixed;
    top: 24px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 30px;
    padding: 12px 8px;
    background-color: rgba(43,43,43,0.8);
}