@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

:root{
    --primary: #ff4b69;
}

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    background-color: black;
    color: white;
    font-family: "TikTok Sans", sans-serif;
    overflow:hidden;
    font-optical-sizing: auto;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    letter-spacing: 0.5px;
    font-weight: 300; /* Weight range: 100–900 */
    font-style: normal;
    font-variation-settings: "slnt" 0, "wdth" 100;
}