.search-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding-left: 10px;
}

.input{
    width: 85%;
    background-color:rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    border-radius: 30px 0 0 30px;
    border: none;
    padding: 8px 0 8px 10px;
    &:focus {
        outline: none;
        box-shadow: none;
        border: 0.5px solid white;
        border-right: none;
    }
}

.input-icon{
    background-color:rgb(43, 43, 43);
    border-radius: 0 30px 30px 0;
    padding: 8px 5px 2.5px 20px;
    &.on-focus{
        border: 0.5px solid white;
        border-left: none;
    }
}

.delete-button{
    width: 20px;
    height: 20px;
}