.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 14px 20px 16px;
}

.header{
    color: rgb(160, 160, 160);
    text-align: left;
}

.close-button{
    width: 23px;
    height: 23px;
    border-radius: 20px;
    color:rgb(160, 160, 160);
    cursor: pointer;
    &:hover{
        color:rgb(137,137,137)
    }
}