.search-bar{
    position: absolute;
    top: 0;
    left: 70px;
    width: 22rem;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    border-right: 0.5px solid rgb(137, 137, 137);
}