.item-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 8px;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    &:hover{
    background-color: rgb(43, 43, 43);
    }
}

.active {
    color: var(--primary);
}

.logo {
    width: 26px;
    height: 26px;
    padding-right: 8px;
}

.avatar {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    overflow:hidden;
}

.text {
    font-weight: 400;
    letter-spacing: inherit;
}