.inside-text {
    font-size: smaller;
    text-align: left;
    font-weight: 500;
    color: rgb(137, 137, 137);
}
.nav-wrapper {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
}