.inside-text {
    font-size: smaller;
    text-align: left;
    font-weight: 500;
    color: rgb(137, 137, 137);
    @media (max-width: 1024px) {
        display: none;
    }
}

.text-minimize {display:none}

.nav-wrapper {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
}