
@mixin header-minimize-style{
    width: 50px;
    height: 50px;
    padding: 0;
    justify-content: center;
    margin: 0;
}
.header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 12px;
    object-position: center;
    @media (max-width: 1024px) {
        @include header-minimize-style;
    }
}

.header-minimize {
    @include header-minimize-style;
}

@mixin logo-minimize-style{
    padding: 0;
    width: 32px;
    height: 32px;
}

.logo {
    width: 38px;
    height: 38px;
    padding-Right: 6px;
    box-sizing: border-box;
    flex-shrink:0;
    @media (max-width: 1024px) {
        @include logo-minimize-style;
    }
}
.logo-minimize{@include logo-minimize-style;}

.text {
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow:
      1px 0.5px 0 #fe2c55,
      -1px -0.5px 0 #25f4ee;
  @media (max-width: 1024px) {
    display: none;
  }
}

.text-minimize{display:none;}

.search-bar {
    padding-top: 5px;
    padding-bottom: 5px;
}